---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME } from "@consts";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort(
    (a, b) =>
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf(),
  )
  .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  }),
);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white text-2xl">
      नमस्ते
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            My name is Arpit, and I am a computer science and
            mathematics student at the University of British Columbia. Here I
            write about my explorations in topics that interest me - mainly
            relating to system design, language-oriented programming, and math.
            A lot on this site is still under construction.
          </p>
          <p class="animate">
            I am currently interning at SAP Concur, where I am working on the
            Entity Lifecycle Management team--we work on orchestrating tenant
            onboarding/deletion workflows across 100+ global subsystems within
            the Concur Spend organization. In my time outside of work, I'm
            usually at the gym getting stronger, or trying to fill up my
            sketchbook. I'm always open for a chat!
          </p>
          <p class="animate">
            You can find me on
            <Link
                            href="https://twitter.com/kumaaarpit"
              aria-label="twitter"
              external
            >
              twitter
            </Link>,
            <Link
                            href="https://www.linkedin.com/in/krarpit"
              aria-label="linkedin"
              external
            >
              linkedin
            </Link>,
            <Link
              href="https://github.com/kumarpit"
              aria-label="github"
              external
            >
              github
            </Link>, or send me an
            <Link
              href="mailto:kumarpit@proton.me"
              aria-label="email"
              external
            >
              email
            </Link>.
          </p>
        </article>
      </section>

      <div class="flex flex-col gap-y-6 md:flex-row md:gap-x-6">

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">Latest posts</h5>
          <Link href="/blog"> See all posts </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects"> See all projects </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>

      </div>
      
      <section class="animate space-y-6 mb-20">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work Experience
          </h5>
        </div>
        <ul class="flex flex-col space-y-3">
          {
            work.map((entry) => (
              <li class="animate flex-col">
                <div class="font-semibold text-black dark:text-white">
                  {entry.data.company}
                </div>
                <div class="flex items-center gap-x-2">
                  <div class="text-sm whitespace-nowrap">{entry.data.role}</div>
                  <div class="hidden h-[1px] w-full grow bg-neutral-600 dark:bg-neutral-200 md:block" />
                  <div class="text-sm italic whitespace-nowrap">
                    {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </section>

    </div>
  </Container>
</PageLayout>
