---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { Icon } from "astro-icon/components";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
  .slice(0,SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white text-xl">
        Hi, my name is Arpit.
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
        I am a computer science and mathematics student at the University of British Columbia. Here I write about my explorations in topics that interest me - mainly system design principles, language-oriented programming and art. A lot on this site is still under construction.
          </p>
        </article>
        <ul class="flex flex-wrap gap-5 animate">
          {SOCIALS.map(SOCIAL => (
            <li class="flex text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
				<Icon class="h-6 w-6" name={SOCIAL.ICON} aria-hidden="true" focusable="false" />
              </Link>
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
				<Icon class="h-6 w-6" name="mdi:email" aria-hidden="true" focusable="false" />
            </Link>
          </li>
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Latest posts
          </h5>
          <Link href="/blog">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects">
            See all projects
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section>
      
      <section class="animate space-y-6 mb-20">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work Experience
          </h5>
          <Link href="/work">
            See all work
          </Link>
        </div>
        <ul class="flex flex-col space-y-3">
          {work.map(entry => (
            <li class="animate flex-col">
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              <div class="flex items-center gap-x-2">
              <div class="text-sm whitespace-nowrap">
                {entry.data.role} 
              </div>
              <div class="hidden h-[1px] w-full grow bg-neutral-600 dark:bg-neutral-200 md:block"></div>
              <div class="text-sm italic whitespace-nowrap">
                  {dateRange(entry.data.dateStart, entry.data.dateEnd)} 
              </div>
              </div>
            </li>
          ))}
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
